This project is adopted from [this databricks lab](https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/2799933550853697/2823893187441173/2202577924924539/latest.html) and is customized for AWS Educate.

<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"> <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/> </a> <br/> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"> Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License. </a>

#![Spark Logo](http://spark-mooc.github.io/web-assets/images/ta_Spark-logo-small.png) + ![Python Logo](http://spark-mooc.github.io/web-assets/images/python-logo-master-v3-TM-flattened_small.png)

<img src="http://spark-mooc.github.io/web-assets/images/cs110x/movie-camera.png" style="float:right; height: 200px; margin: 10px; border: 1px solid #ddd; border-radius: 15px 15px 15px 15px; padding: 10px"/>

# Predicting Movie Ratings

One of the most common uses of big data is to predict what users want.  This allows Google to show you relevant ads, Amazon to recommend relevant products, and Netflix to recommend movies that you might like.  This lab will demonstrate how we can use Apache Spark to recommend movies to a user.  We will start with some basic techniques, and then use the [Spark ML][sparkml] library's Alternating Least Squares method to make more sophisticated predictions.

In this project, we will use MLlib to make personalized movie recommendations tailored _for you_. We will work with 10 million ratings from 72,000 users on 10,000 movies, collected by [MovieLens](https://grouplens.org/datasets/movielens/). This dataset is can be found at https://grouplens.org/datasets/movielens/latest/. You may want to start with a smaller version of the dataset. Both datasets are also available on Blackboard. 

Note that the current Notebook contains various sections marked with **ToDO** and **FILL_IN**. These are the graded components of this project and need to be completed by you.

In this lab:
* *Part 0*: Preliminaries
* *Part 1*: Basic Recommendations
* *Part 2*: Collaborative Filtering
* *Part 3*: Predictions for Yourself

## Code

This assignment can be completed using basic Python and pySpark DataFrame Transformations and Actions. With the exception of the ML functions that we introduce in this assignment, you should be able to complete all parts of this homework using only the Spark functions you have used in prior projects (although you are welcome to use more features of Spark if you like!).

 We will work with 10 million ratings from 72,000 users on 10,000 movies, collected by [MovieLens](https://grouplens.org/datasets/movielens/). This dataset is can be found at https://grouplens.org/datasets/movielens/latest/. You may want to start with a smaller version of the dataset. Both datasets are also available on Blackboard. 
 
You will need to Spawn a Spark cluster and Jupyter Notebook server using the instructions provided in Sparkify 8, and upload a copy of this notebook to this Spark Notebook server. Also, you will have to upload the dataset (i.e., CSV files) on S3.  The following cell defines the locations of the data files. You'll need to adjust the paths, below.

**To Do**: Run the following cell.

In [ ]:
#using small data

import os
# from test_helpers import Test
import test_helpers 
# from test_helpers import test

# Change to the location of data files
dbfs_dir = 's3://dsci6007f20movierecommendation/ml-latest-small'
ratings_filename = dbfs_dir + '/ratings.csv'
movies_filename = dbfs_dir + '/movies.csv'

movies_filename

In [8]:
# # using all data

# import os
# # from test_helpers import Test
# import test_helpers 
# # from test_helpers import test

# # Change to the location of data files
# dbfs_dir = 's3://dsci6007f20movierecommendation/ml-latest'
# ratings_filename = dbfs_dir + '/ratings.csv'
# movies_filename = dbfs_dir + '/movies.csv'

# movies_filename

's3://dsci6007f20movierecommendation/ml-latest/movies.csv'

## Part 0: Preliminaries

We read in each of the files and create a DataFrame consisting of parsed lines.

### The 20-million movie sample

The 20-million movie sample consists of CSV files (with headers), so there's no need to parse the files manually, as Spark CSV can do the job.

### CPU vs I/O tradeoff

Note that we have both compressed files (ending in `.gz`) and uncompressed files. We have a CPU vs. I/O tradeoff here. If I/O is the bottleneck, then we want to process the compressed files and pay the extra CPU overhead. If CPU is the bottleneck, then it makes more sense to process the uncompressed files.

We've done some experiments, and we've determined that CPU is more of a bottleneck than I/O. So, we're going to process the uncompressed data. In addition, we're going to speed things up further by specifying the DataFrame schema explicitly. (When the Spark CSV adapter infers the schema from a CSV file, it has to make an extra pass over the file. That'll slow things down here, and it isn't really necessary.)

**To Do**: Run the following cell, which will define the schemas.

In [9]:
from pyspark.sql.types import *

ratings_df_schema = StructType(
  [StructField('userId', IntegerType()),
   StructField('movieId', IntegerType()),
   StructField('rating', DoubleType())]
)
movies_df_schema = StructType(
  [StructField('ID', IntegerType()),
   StructField('title', StringType())]
)

### Load and Cache

By now, your datasets should be hosted on S3. We're going to be accessing this data a lot. Rather than read it over and over again from S3, we'll cache both the movies DataFrame and the ratings DataFrame in memory.

**To Do**: Run the following cell to load and cache the data. Please be patient: The code takes about 30 seconds to run.

In [10]:
from pyspark.sql.functions import regexp_extract
from pyspark.sql.types import *

raw_ratings_df = sqlContext.read.format('csv').options(header=True, inferSchema=False).schema(ratings_df_schema).load(ratings_filename)
ratings_df = raw_ratings_df.drop('Timestamp')

raw_movies_df = sqlContext.read.format('csv').options(header=True, inferSchema=False).schema(movies_df_schema).load(movies_filename)
movies_df = raw_movies_df.drop('Genres').withColumnRenamed('movieId', 'ID')

ratings_df.cache()
movies_df.cache()

assert ratings_df.is_cached
assert movies_df.is_cached

raw_ratings_count = raw_ratings_df.count()
ratings_count = ratings_df.count()
raw_movies_count = raw_movies_df.count()
movies_count = movies_df.count()

print('There are %s ratings and %s movies in the datasets' % (ratings_count, movies_count))
print('Ratings:')
ratings_df.show(3)
print('Movies:')
movies_df.show(3, truncate=False)

assert raw_ratings_count == ratings_count
assert raw_movies_count == movies_count

There are 27753444 ratings and 58098 movies in the datasets
Ratings:
+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|    307|   3.5|
|     1|    481|   3.5|
|     1|   1091|   1.5|
+------+-------+------+
only showing top 3 rows

Movies:
+---+-----------------------+
|ID |title                  |
+---+-----------------------+
|1  |Toy Story (1995)       |
|2  |Jumanji (1995)         |
|3  |Grumpier Old Men (1995)|
+---+-----------------------+
only showing top 3 rows

Next, let's do a quick verification of the data.

**To do**: Run the following cell. It should run without errors.

Let's take a quick look at some of the data in the two DataFrames.

**To Do**: Run the following two cells.

In [12]:
movies_df.show(10)

+---+--------------------+
| ID|               title|
+---+--------------------+
|  1|    Toy Story (1995)|
|  2|      Jumanji (1995)|
|  3|Grumpier Old Men ...|
|  4|Waiting to Exhale...|
|  5|Father of the Bri...|
|  6|         Heat (1995)|
|  7|      Sabrina (1995)|
|  8| Tom and Huck (1995)|
|  9| Sudden Death (1995)|
| 10|    GoldenEye (1995)|
+---+--------------------+
only showing top 10 rows

In [13]:
ratings_df.show(10)

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|    307|   3.5|
|     1|    481|   3.5|
|     1|   1091|   1.5|
|     1|   1257|   4.5|
|     1|   1449|   4.5|
|     1|   1590|   2.5|
|     1|   1591|   1.5|
|     1|   2134|   4.5|
|     1|   2478|   4.0|
|     1|   2840|   3.0|
+------+-------+------+
only showing top 10 rows

## Part 1: Basic Recommendations

One way to recommend movies is to always recommend the movies with the highest average rating. In this part, we will use Spark to find the name, number of ratings, and the average rating of the 20 movies with the highest average rating and at least 500 reviews. We want to filter our movies with high ratings but greater than or equal to 500 reviews because movies with few reviews may not have broad appeal to everyone.

### (1a) Movies with Highest Average Ratings

Let's determine the movies with the highest average ratings.

The steps you should perform are:

1. Recall that the `ratings_df` contains three columns:
    - The ID of the user who rated the film
    - the ID of the movie being rated
    - and the rating.

   First, transform `ratings_df` into a second DataFrame, `movie_ids_with_avg_ratings`, with the following columns:
    - The movie ID
    - The number of ratings for the movie
    - The average of all the movie's ratings

2. Transform `movie_ids_with_avg_ratings` to another DataFrame, `movie_names_with_avg_ratings_df` that adds the movie name to each row. `movie_names_with_avg_ratings_df`
   will contain these columns:
    - The movie ID
    - The movie name
    - The number of ratings for the movie
    - The average of all the movie's ratings

   **Hint**: You'll need to do a join.

You should end up with something like the following:
```
movie_ids_with_avg_ratings_df:
+-------+-----+------------------+
|movieId|count|average           |
+-------+-----+------------------+
|1831   |7463 |2.5785207021305103|
|431    |8946 |3.695059244355019 |
|631    |2193 |2.7273141814865483|
+-------+-----+------------------+
only showing top 3 rows

movie_names_with_avg_ratings_df:
+-------+-----------------------------+-----+-------+
|average|title                        |count|movieId|
+-------+-----------------------------+-----+-------+
|5.0    |Ella Lola, a la Trilby (1898)|1    |94431  |
|5.0    |Serving Life (2011)          |1    |129034 |
|5.0    |Diplomatic Immunity (2009? ) |1    |107434 |
+-------+-----------------------------+-----+-------+
only showing top 3 rows
```

In [17]:
# TODO: Replace <FILL_IN> with appropriate code
from pyspark.sql import functions as F

# From ratingsDF, create a movie_ids_with_avg_ratings_df that combines the two DataFrames
movie_ids_with_avg_ratings_df = ratings_df.groupBy('movieId').agg(F.count(ratings_df.rating).alias("count"), F.avg(ratings_df.rating).alias("average"))
print('movie_ids_with_avg_ratings_df:')
movie_ids_with_avg_ratings_df.show(3, truncate=False)

# Note: movie_names_df is a temporary variable, used only to separate the steps necessary
# to create the movie_names_with_avg_ratings_df DataFrame.
movie_names_df = movie_ids_with_avg_ratings_df.join(movies_df, movie_ids_with_avg_ratings_df.movieId==movies_df.ID)
movie_names_with_avg_ratings_df = movie_names_df.select('average', 'title', 'count', 'movieId')

print('movie_names_with_avg_ratings_df:')
movie_names_with_avg_ratings_df.show(3, truncate=False)

movie_ids_with_avg_ratings_df:
+-------+-----+------------------+
|movieId|count|average           |
+-------+-----+------------------+
|1591   |6508 |2.6466656422864165|
|1088   |14100|3.2480141843971633|
|2122   |2908 |2.6475240715268225|
+-------+-----+------------------+
only showing top 3 rows

movie_names_with_avg_ratings_df:
+------------------+---------------------------+-----+-------+
|average           |title                      |count|movieId|
+------------------+---------------------------+-----+-------+
|2.6466656422864165|Spawn (1997)               |6508 |1591   |
|3.2480141843971633|Dirty Dancing (1987)       |14100|1088   |
|2.6475240715268225|Children of the Corn (1984)|2908 |2122   |
+------------------+---------------------------+-----+-------+
only showing top 3 rows

In [18]:
movie_names_with_avg_ratings_df.describe().show()

+-------+------------------+--------------------+------------------+------------------+
|summary|           average|               title|             count|           movieId|
+-------+------------------+--------------------+------------------+------------------+
|  count|             53889|               53889|             53889|             53889|
|   mean|3.0685927253973184|                null| 515.0113010076268|109110.13795023103|
| stddev|0.7362424202405309|                null|2934.7589389155864| 60910.55168607507|
|    min|               0.5|"""Great Performa...|                 1|                 1|
|    max|               5.0|     줄탁동시 (2012)|             97999|            193886|
+-------+------------------+--------------------+------------------+------------------+

### (1b) Movies with Highest Average Ratings and at least 500 reviews

Now that we have a DataFrame of the movies with highest average ratings, we can use Spark to determine the 20 movies with highest average ratings and at least 500 reviews.

Add a single DataFrame transformation (in place of `<FILL_IN>`, below) to limit the results to movies with ratings from at least 500 people.

In [19]:
# TODO: Replace <FILL IN> with appropriate code
# For test data 
# movies_with_500_ratings_or_more = movie_names_with_avg_ratings_df.filter('count >=50').sort('average', ascending=False)

movies_with_500_ratings_or_more = movie_names_with_avg_ratings_df.filter('count >=500').sort('average', ascending=False)

print('Movies with highest ratings:')
movies_with_500_ratings_or_more.show(20, truncate=False)

Movies with highest ratings:
+------------------+---------------------------------------------------------------------------+-----+-------+
|average           |title                                                                      |count|movieId|
+------------------+---------------------------------------------------------------------------+-----+-------+
|4.4865181711606095|Planet Earth II (2016)                                                     |853  |171011 |
|4.458092485549133 |Planet Earth (2006)                                                        |1384 |159817 |
|4.424188001918387 |Shawshank Redemption, The (1994)                                           |97999|318    |
|4.399898373983739 |Band of Brothers (2001)                                                    |984  |170705 |
|4.350558659217877 |Black Mirror: White Christmas (2014)                                       |1074 |174053 |
|4.332892749244713 |Godfather, The (1972)                                                      |60904|858    |
|4.291958829205532 |Usual Suspects, The (1995)                                                 |62180|50     |
|4.2630353697749195|Godfather: Part II, The (1974)                                             |38875|1221   |
|4.257501817775044 |Schindler's List (1993)                                                    |71516|527    |
|4.2541157909178215|Seven Samurai (Shichinin no samurai) (1954)                                |14578|2019   |
|4.237075455914338 |12 Angry Men (1957)                                                        |17931|1203   |
|4.230798598634567 |Rear Window (1954)                                                         |22264|904    |
|4.230663235786717 |Fight Club (1999)                                                          |65678|2959   |
|4.222920272160452 |One Flew Over the Cuckoo's Nest (1975)                                     |42181|1193   |
|4.210098086509085 |Casablanca (1942)                                                          |31095|912    |
|4.208876000542667 |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)|29484|750    |
|4.2076678004047015|Spirited Away (Sen to Chihiro no kamikakushi) (2001)                       |23227|5618   |
|4.20375939849624  |Third Man, The (1949)                                                      |7980 |1212   |
|4.202861952861953 |Whiplash (2013)                                                            |594  |166024 |
|4.201752440106477 |Paths of Glory (1957)                                                      |4508 |1178   |
+------------------+---------------------------------------------------------------------------+-----+-------+
only showing top 20 rows

Using a threshold on the number of reviews is one way to improve the recommendations, but there are many other good ways to improve quality. For example, you could weight ratings by the number of ratings.

## Part 2: Collaborative Filtering
In this course, you have learned about many of the basic transformations and actions that Spark allows us to apply to distributed datasets.  Spark also exposes some higher level functionality; in particular, Machine Learning using a component of Spark called [MLlib][mllib].  In this part, you will learn how to use MLlib to make personalized movie recommendations using the movie data we have been analyzing.

<img src="https://courses.edx.org/c4x/BerkeleyX/CS100.1x/asset/Collaborative_filtering.gif" alt="collaborative filtering" style="float: right"/>

We are going to use a technique called [collaborative filtering][collab]. Collaborative filtering is a method of making automatic predictions (filtering) about the interests of a user by collecting preferences or taste information from many users (collaborating). The underlying assumption of the collaborative filtering approach is that if a person A has the same opinion as a person B on an issue, A is more likely to have B's opinion on a different issue x than to have the opinion on x of a person chosen randomly. You can read more about collaborative filtering [here][collab2].

The image at the right (from [Wikipedia][collab]) shows an example of predicting of the user's rating using collaborative filtering. At first, people rate different items (like videos, images, games). After that, the system is making predictions about a user's rating for an item, which the user has not rated yet. These predictions are built upon the existing ratings of other users, who have similar ratings with the active user. For instance, in the image below the system has made a prediction, that the active user will not like the video.

<br clear="all"/>

----

For movie recommendations, we start with a matrix whose entries are movie ratings by users (shown in red in the diagram below).  Each column represents a user (shown in green) and each row represents a particular movie (shown in blue).

Since not all users have rated all movies, we do not know all of the entries in this matrix, which is precisely why we need collaborative filtering.  For each user, we have ratings for only a subset of the movies.  With collaborative filtering, the idea is to approximate the ratings matrix by factorizing it as the product of two matrices: one that describes properties of each user (shown in green), and one that describes properties of each movie (shown in blue).

<img alt="factorization" src="http://spark-mooc.github.io/web-assets/images/matrix_factorization.png" style="width: 885px"/>
<br clear="all"/>

We want to select these two matrices such that the error for the users/movie pairs where we know the correct ratings is minimized.  The [Alternating Least Squares][als] algorithm does this by first randomly filling the users matrix with values and then optimizing the value of the movies such that the error is minimized.  Then, it holds the movies matrix constant and optimizes the value of the user's matrix.  This alternation between which matrix to optimize is the reason for the "alternating" in the name.

This optimization is what's being shown on the right in the image above.  Given a fixed set of user factors (i.e., values in the users matrix), we use the known ratings to find the best values for the movie factors using the optimization written at the bottom of the figure.  Then we "alternate" and pick the best user factors given fixed movie factors.

[als]: https://en.wikiversity.org/wiki/Least-Squares_Method
[mllib]: http://spark.apache.org/docs/latest/mllib-guide.html
[collab]: https://en.wikipedia.org/?title=Collaborative_filtering
[collab2]: http://recommender-systems.org/collaborative-filtering/

### (2a) Creating a Training Set

Before we jump into using machine learning, we need to break up the `ratings_df` dataset into three pieces:
* A training set (DataFrame), which we will use to train models
* A validation set (DataFrame), which we will use to choose the best model
* A test set (DataFrame), which we will use for our experiments

To randomly split the dataset into the multiple groups, we can use the pySpark [randomSplit()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.randomSplit) transformation. `randomSplit()` takes a set of splits and a seed and returns multiple DataFrames.

In [20]:
# TODO: Replace <FILL_IN> with the appropriate code.

# We'll hold out 60% for training, 20% of our data for validation, and leave 20% for testing
seed = 1800009193
(split_60_df, split_a_20_df, split_b_20_df) = ratings_df.randomSplit([0.6,0.2,0.2], seed=seed)

# Let's cache these datasets for performance
training_df = split_60_df.cache()
validation_df = split_a_20_df.cache()
test_df = split_b_20_df.cache()

print('Training: {0}, validation: {1}, test: {2}\n'.format(
  training_df.count(), validation_df.count(), test_df.count())
)
training_df.show(3)
validation_df.show(3)
test_df.show(3)

Training: 16649719, validation: 5554029, test: 5549696

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|    307|   3.5|
|     1|    481|   3.5|
|     1|   1257|   4.5|
+------+-------+------+
only showing top 3 rows

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|   1091|   1.5|
|     1|   2478|   4.0|
|     1|   2986|   2.5|
+------+-------+------+
only showing top 3 rows

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|   1590|   2.5|
|     1|   1591|   1.5|
|     1|   3424|   4.5|
+------+-------+------+
only showing top 3 rows

In [21]:
ratings_df.count()

27753444

After splitting the dataset, your training set has about 12 million entries and the validation and test sets each have about 4 million entries. (The exact number of entries in each dataset varies slightly due to the random nature of the `randomSplit()` transformation.)

### (2b) Alternating Least Squares

In this part, we will use the Apache Spark ML Pipeline implementation of Alternating Least Squares, [ALS](http://spark.apache.org/docs/latest/api/python/pyspark.ml.html#pyspark.ml.recommendation.ALS). ALS takes a training dataset (DataFrame) and several parameters that control the model creation process. To determine the best values for the parameters, we will use ALS to train several models, and then we will select the best model and use the parameters from that model in the rest of this lab exercise.

The process we will use for determining the best model is as follows:
1. Pick a set of model parameters. The most important parameter to model is the *rank*, which is the number of columns in the Users matrix (green in the diagram above) or the number of rows in the Movies matrix (blue in the diagram above). In general, a lower rank will mean higher error on the training dataset, but a high rank may lead to [overfitting](https://en.wikipedia.org/wiki/Overfitting).  We will train models with ranks of 4, 8, and 12 using the `training_df` dataset.

2. Set the appropriate parameters on the `ALS` object:
    * The "User" column will be set to the values in our `userId` DataFrame column.
    * The "Item" column will be set to the values in our `movieId` DataFrame column.
    * The "Rating" column will be set to the values in our `rating` DataFrame column.
    * We'll using a regularization parameter of 0.1.

   **Note**: Read the documentation for the [ALS](http://spark.apache.org/docs/latest/api/python/pyspark.ml.html#pyspark.ml.recommendation.ALS) class **carefully**. It will help you accomplish this step.
3. Have the ALS output transformation (i.e., the result of [ALS.fit()](http://spark.apache.org/docs/1.6.2/api/python/pyspark.ml.html#pyspark.ml.recommendation.ALS.fit)) produce a _new_ column
   called "prediction" that contains the predicted value.

4. Create multiple models using [ALS.fit()](http://spark.apache.org/docs/latest/api/python/pyspark.ml.html#pyspark.ml.recommendation.ALS.fit), one for each of our rank values. We'll fit
   against the training data set (`training_df`).

5. For each model, we'll run a prediction against our validation data set (`validation_df`) and check the error.

6. We'll keep the model with the best error rate.

#### Why are we doing our own cross-validation?

A challenge for collaborative filtering is how to provide ratings to a new user (a user who has not provided *any* ratings at all). Some recommendation systems choose to provide new users with a set of default ratings (e.g., an average value across all ratings), while others choose to provide no ratings for new users. Spark's ALS algorithm yields a NaN (`Not a Number`) value when asked to provide a rating for a new user.

Using the ML Pipeline's [CrossValidator](http://spark.apache.org/docs/latest/api/python/pyspark.ml.html#pyspark.ml.tuning.CrossValidator) with ALS is thus problematic, because cross validation involves dividing the training data into a set of folds (e.g., three sets) and then using those folds for testing and evaluating the parameters during the parameter grid search process. It is likely that some of the folds will contain users that are not in the other folds, and, as a result, ALS produces NaN values for those new users. When the CrossValidator uses the Evaluator (RMSE) to compute an error metric, the RMSE algorithm will return NaN. This will make *all* of the parameters in the parameter grid appear to be equally good (or bad).

You can read the discussion on [Spark JIRA 14489](https://issues.apache.org/jira/browse/SPARK-14489) about this issue. There are proposed workarounds of having ALS provide default values or having RMSE drop NaN values. Both introduce potential issues. We have chosen to have RMSE drop NaN values. While this does not solve the underlying issue of ALS not predicting a value for a new user, it does provide some evaluation value. We manually implement the parameter grid search process using a for loop (below) and remove the NaN values before using RMSE.

For a production application, you would want to consider the tradeoffs in how to handle new users.

**Note**: This cell will likely take a couple of minutes to run.

In [22]:
# TODO: Replace <FILL IN> with appropriate code
# This step is broken in ML Pipelines: https://issues.apache.org/jira/browse/SPARK-14489
from pyspark.ml.recommendation import ALS

# Let's initialize our ALS learner
als = ALS()

# Now we set the parameters for the method
als.setMaxIter(5)\
   .setSeed(seed)\
   .setRegParam(0.1)\
   .setUserCol('userId')\
   .setItemCol('movieId')\
   .setRatingCol('rating')

# Now let's compute an evaluation metric for our test dataset
from pyspark.ml.evaluation import RegressionEvaluator

# Create an RMSE evaluator using the label and predicted columns
reg_eval = RegressionEvaluator(predictionCol="prediction", labelCol="rating", metricName="rmse")

tolerance = 0.03
ranks = [4, 8, 12]
errors = [0, 0, 0]
models = [0, 0, 0]
err = 0
min_error = float('inf')
best_rank = -1
for rank in ranks:
  # Set the rank here:
  als.setRank(rank)
  # Create the model with these parameters.
  model = als.fit(training_df)
  # Run the model to create a prediction. Predict against the validation_df.
  predict_df = model.transform(validation_df)

  # Remove NaN values from prediction (due to SPARK-14489)
  predicted_ratings_df = predict_df.filter(predict_df.prediction != float('nan'))

  # Run the previously created RMSE evaluator, reg_eval, on the predicted_ratings_df DataFrame
  error = reg_eval.evaluate(predicted_ratings_df)
  errors[err] = error
  models[err] = model
  print('For rank %s the RMSE is %s' %(rank, error))
  if error < min_error:
    min_error = error
    best_rank = err
  err += 1

als.setRank(ranks[best_rank])
print('The best model was trained with rank %s' % ranks[best_rank])
my_model = models[best_rank]

For rank 4 the RMSE is 0.8397051984739614
For rank 8 the RMSE is 0.8228419462536534
For rank 12 the RMSE is 0.8253626240871798
The best model was trained with rank 8

### (2c) Testing Your Model

So far, we used the `training_df` and `validation_df` datasets to select the best model.  Since we used these two datasets to determine what model is best, we cannot use them to test how good the model is; otherwise, we would be very vulnerable to [overfitting](https://en.wikipedia.org/wiki/Overfitting).  To decide how good our model is, we need to use the `test_df` dataset.  We will use the `best_rank` you determined in part (2b) to create a model for predicting the ratings for the test dataset and then we will compute the RMSE.

The steps you should perform are:
* Run a prediction, using `my_model` as created above, on the test dataset (`test_df`), producing a new `predict_df` DataFrame.
* Filter out unwanted NaN values (necessary because of [a bug in Spark](https://issues.apache.org/jira/browse/SPARK-14489)). We've supplied this piece of code for you.
* Use the previously created RMSE evaluator, `reg_eval` to evaluate the filtered DataFrame.

In [23]:
# TODO: Replace <FILL_IN> with the appropriate code
# In ML Pipelines, this next step has a bug that produces unwanted NaN values. We
# have to filter them out. See https://issues.apache.org/jira/browse/SPARK-14489
predict_df = my_model.transform(test_df)

# Remove NaN values from prediction (due to SPARK-14489)
predicted_test_df = predict_df.filter(predict_df.prediction != float('nan'))

# Run the previously created RMSE evaluator, reg_eval, on the predicted_test_df DataFrame
test_RMSE = reg_eval.evaluate(predicted_test_df)

print('The model had a RMSE on the test set of {0}'.format(test_RMSE))

The model had a RMSE on the test set of 0.8226051393582325

### (2d) Comparing Your Model

Looking at the RMSE for the results predicted by the model versus the values in the test set is one way to evalute the quality of our model. Another way to evaluate the model is to evaluate the error from a test set where every rating is the average rating for the training set.

The steps you should perform are:
* Use the `training_df` to compute the average rating across all movies in that training dataset.
* Use the average rating that you just determined and the `test_df` to create a DataFrame (`test_for_avg_df`) with a `prediction` column containing the average rating. **HINT**: You'll want to use the `lit()` function,
  from `pyspark.sql.functions`, available here as `F.lit()`.
* Use our previously created `reg_eval` object to evaluate the `test_for_avg_df` and calculate the RMSE.

In [24]:
training_df.show()
avg_rating_df = training_df.groupby().avg('rating')
avg_rating_df.show()
avg_rating_df.collect()[0][0]

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     1|    307|   3.5|
|     1|    481|   3.5|
|     1|   1257|   4.5|
|     1|   1449|   4.5|
|     1|   2134|   4.5|
|     1|   2840|   3.0|
|     1|   3698|   3.5|
|     1|   3826|   2.0|
|     1|   3893|   3.5|
|     2|    170|   3.5|
|     2|    849|   3.5|
|     2|   1186|   3.5|
|     2|   1296|   4.5|
|     2|   2108|   3.5|
|     2|   2243|   4.5|
|     2|   2352|   4.0|
|     2|   2746|   4.0|
|     2|   2915|   3.5|
|     2|   3363|   4.0|
|     3|    828|   4.0|
+------+-------+------+
only showing top 20 rows

+------------------+
|       avg(rating)|
+------------------+
|3.5305381430161074|
+------------------+

3.5305381430161074

In [25]:
# TODO: Replace <FILL_IN> with the appropriate code.
# Compute the average rating
avg_rating_df = training_df.groupby().avg('rating')

# Extract the average rating value. (This is row 0, column 0.)
training_avg_rating = avg_rating_df.collect()[0][0]

print('The average rating for movies in the training set is {0}'.format(training_avg_rating))

# Add a column with the average rating
test_for_avg_df = test_df.withColumn('prediction', F.lit(training_avg_rating))

# Run the previously created RMSE evaluator, reg_eval, on the test_for_avg_df DataFrame
test_avg_RMSE = reg_eval.evaluate(test_for_avg_df)

print("The RMSE on the average set is {0}".format(test_avg_RMSE))

The average rating for movies in the training set is 3.5305381430161074
The RMSE on the average set is 1.0662563794506446

You now have code to predict how users will rate movies!

## Part 3: Predictions for Yourself
The ultimate goal of this lab exercise is to predict what movies to recommend to yourself.  In order to do that, you will first need to add ratings for yourself to the `ratings_df` dataset.

**(3a) Your Movie Ratings**

To help you provide ratings for yourself, we have included the following code to list the names and movie IDs of the 50 highest-rated movies from `movies_with_500_ratings_or_more` which we created in part 1.

In [26]:
print('Most rated movies:')
print('(average rating, movie name, number of reviews, movie ID)')
display(movies_with_500_ratings_or_more.orderBy(movies_with_500_ratings_or_more['average'].desc()).take(50))

Most rated movies:
(average rating, movie name, number of reviews, movie ID)

[Row(average=4.4865181711606095, title='Planet Earth II (2016)', count=853, movieId=171011),
 Row(average=4.458092485549133, title='Planet Earth (2006)', count=1384, movieId=159817),
 Row(average=4.424188001918387, title='Shawshank Redemption, The (1994)', count=97999, movieId=318),
 Row(average=4.399898373983739, title='Band of Brothers (2001)', count=984, movieId=170705),
 Row(average=4.350558659217877, title='Black Mirror: White Christmas (2014)', count=1074, movieId=174053),
 Row(average=4.332892749244713, title='Godfather, The (1972)', count=60904, movieId=858),
 Row(average=4.291958829205532, title='Usual Suspects, The (1995)', count=62180, movieId=50),
 Row(average=4.2630353697749195, title='Godfather: Part II, The (1974)', count=38875, movieId=1221),
 Row(average=4.257501817775044, title="Schindler's List (1993)", count=71516, movieId=527),
 Row(average=4.2541157909178215, title='Seven Samurai (Shichinin no samurai) (1954)', count=14578, movieId=2019),
 Row(average=4.237075455914338, title='12 Angry Men (1957)', count=17931, movieId=1203),
 Row(average=4.230798598634567, title='Rear Window (1954)', count=22264, movieId=904),
 Row(average=4.230663235786717, title='Fight Club (1999)', count=65678, movieId=2959),
 Row(average=4.222920272160452, title="One Flew Over the Cuckoo's Nest (1975)", count=42181, movieId=1193),
 Row(average=4.210098086509085, title='Casablanca (1942)', count=31095, movieId=912),
 Row(average=4.208876000542667, title='Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)', count=29484, movieId=750),
 Row(average=4.2076678004047015, title='Spirited Away (Sen to Chihiro no kamikakushi) (2001)', count=23227, movieId=5618),
 Row(average=4.20375939849624, title='Third Man, The (1949)', count=7980, movieId=1212),
 Row(average=4.202861952861953, title='Whiplash (2013)', count=594, movieId=166024),
 Row(average=4.201752440106477, title='Paths of Glory (1957)', count=4508, movieId=1178),
 Row(average=4.201091113037271, title='North by Northwest (1959)', count=19613, movieId=908),
 Row(average=4.199844881075491, title='Lives of Others, The (Das leben der Anderen) (2006)', count=9670, movieId=44555),
 Row(average=4.199261675824176, title='Double Indemnity (1944)', count=5824, movieId=3435),
 Row(average=4.195425943852856, title='Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)', count=8264, movieId=922),
 Row(average=4.184896558122275, title='City of God (Cidade de Deus) (2002)', count=21558, movieId=6016),
 Row(average=4.179297597042514, title='Yojimbo (1961)', count=4328, movieId=3030),
 Row(average=4.177603383981745, title='Goodfellas (1990)', count=35934, movieId=1213),
 Row(average=4.173971387139363, title='Pulp Fiction (1994)', count=92406, movieId=296),
 Row(average=4.173755615654545, title='Dark Knight, The (2008)', count=44741, movieId=58559),
 Row(average=4.170276988636363, title='All About Eve (1950)', count=5632, movieId=926),
 Row(average=4.163581345674618, title='Notorious (1946)', count=5618, movieId=930),
 Row(average=4.163178366364141, title='Life Is Beautiful (La Vita è bella) (1997)', count=26995, movieId=2324),
 Row(average=4.1629897528631705, title='Inception (2010)', count=41475, movieId=79132),
 Row(average=4.161491297468355, title='M (1931)', count=5056, movieId=1260),
 Row(average=4.159891808346213, title='Big Sleep, The (1946)', count=6470, movieId=1284),
 Row(average=4.153844395162213, title='Memento (2000)', count=43739, movieId=4226),
 Row(average=4.153380031131865, title='To Kill a Mockingbird (1962)', count=17988, movieId=1207),
 Row(average=4.1524313561098305, title='Chinatown (1974)', count=19084, movieId=1252),
 Row(average=4.15141241652351, title='Silence of the Lambs, The (1991)', count=87899, movieId=593),
 Row(average=4.15122820176261, title='Touch of Evil (1958)', count=5333, movieId=1248),
 Row(average=4.150782937365011, title='Thin Man, The (1934)', count=3704, movieId=950),
 Row(average=4.149695428470046, title='Matrix, The (1999)', count=84545, movieId=2571),
 Row(average=4.148407904167093, title='My Neighbor Totoro (Tonari no Totoro) (1988)', count=9767, movieId=5971),
 Row(average=4.14835070718935, title='Monty Python and the Holy Grail (1975)', count=40866, movieId=1136),
 Row(average=4.148115687992989, title='Ran (1985)', count=5705, movieId=1217),
 Row(average=4.141628504411929, title='Sting, The (1973)', count=17906, movieId=1234),
 Row(average=4.14138438880707, title='Harakiri (Seppuku) (1962)', count=679, movieId=26082),
 Row(average=4.1408824391674, title='American History X (1998)', count=34110, movieId=2329),
 Row(average=4.1392657621707905, title='Piper (2016)', count=1253, movieId=160718),
 Row(average=4.13421052631579, title='It Happened One Night (1934)', count=4750, movieId=905)]

The user ID 0 is unassigned, so we will use it for your ratings. We set the variable `my_user_ID` to 0 for you. Next, create a new DataFrame called `my_ratings_df`, with your ratings for at least 10 movie ratings. Each entry should be formatted as `(my_user_id, movieID, rating)`.  As in the original dataset, ratings should be between 1 and 5 (inclusive). If you have not seen at least 10 of these movies, you can increase the parameter passed to `take()` in the above cell until there are 10 movies that you have seen (or you can also guess what your rating would be for movies you have not seen).

In [27]:
# TODO: Replace <FILL IN> with appropriate code
from pyspark.sql import Row
my_user_id = 0

# Note that the movie IDs are the *last* number on each line. A common error was to use the number of ratings as the movie ID.
my_rated_movies = [
#      <FILL IN>
    (my_user_id, 318, 4.7),
    (my_user_id, 541, 4.2),
    (my_user_id, 111, 4.3),
    (my_user_id, 4993, 4.5),
    (my_user_id, 608, 4.6),
    (my_user_id, 7153, 4.8),
    (my_user_id, 1207, 4.8),
    (my_user_id, 4226, 4.5),
    (my_user_id, 68157, 4.6),
    (my_user_id, 1210, 4.7),
    
     # The format of each line is (my_user_id, movie ID, your rating)
     # For example, to give the movie "Star Wars: Episode IV - A New Hope (1977)" a five rating, you would add the following line:
     #   (my_user_id, 260, 5),
]

my_ratings_df = sqlContext.createDataFrame(my_rated_movies, ['userId','movieId','rating'])
print('My movie ratings:')
display(my_ratings_df.limit(10).show())

My movie ratings:
+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|     0|    318|   4.7|
|     0|    541|   4.2|
|     0|    111|   4.3|
|     0|   4993|   4.5|
|     0|    608|   4.6|
|     0|   7153|   4.8|
|     0|   1207|   4.8|
|     0|   4226|   4.5|
|     0|  68157|   4.6|
|     0|   1210|   4.7|
+------+-------+------+

None

### (3b) Add Your Movies to Training Dataset

Now that you have ratings for yourself, you need to add your ratings to the `training` dataset so that the model you train will incorporate your preferences.  Spark's [unionAll()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame.unionAll) transformation combines two DataFrames; use `unionAll()` to create a new training dataset that includes your ratings and the data in the original training dataset.

In [28]:
# TODO: Replace <FILL IN> with appropriate code
# training_with_my_ratings_df = <FILL IN>
training_with_my_ratings_df = training_df.unionAll(my_ratings_df)

print (('The training dataset now has %s more entries than the original training dataset' %
       (training_with_my_ratings_df.count() - training_df.count())))
assert (training_with_my_ratings_df.count() - training_df.count()) == my_ratings_df.count()

The training dataset now has 10 more entries than the original training dataset

### (3c) Train a Model with Your Ratings

Now, train a model with your ratings added and the parameters you used in in part (2b) and (2c). Mke sure you include **all** of the parameters.

**Note**: This cell will take about 30 seconds to run.

In [29]:
# TODO: Replace <FILL IN> with appropriate code

# Reset the parameters for the ALS object.
als.setPredictionCol("prediction")\
   .setMaxIter(5)\
   .setSeed(seed)\
   .setRegParam(0.1)\
   .setUserCol('userId')\
   .setItemCol('movieId')\
   .setRatingCol('rating')\
   .setRank(12)

# Create the model with these parameters.
my_ratings_model = als.fit(training_with_my_ratings_df)

### (3d) Check RMSE for the New Model with Your Ratings

Compute the RMSE for this new model on the test set.
* Run your model (the one you just trained) against the test data set in `test_df`.
* Then, use our previously-computed `reg_eval` object to compute the RMSE of your ratings.

In [30]:
# TODO: Replace <FILL IN> with appropriate code
my_predict_df = my_ratings_model.transform(test_df)

# Remove NaN values from prediction (due to SPARK-14489)
predicted_test_my_ratings_df = my_predict_df.filter(my_predict_df.prediction != float('nan'))

# Run the previously created RMSE evaluator, reg_eval, on the predicted_test_my_ratings_df DataFrame
test_RMSE_my_ratings = reg_eval.evaluate(predicted_test_my_ratings_df)
print('The model had a RMSE on the test set of {0}'.format(test_RMSE_my_ratings))

The model had a RMSE on the test set of 0.8230874724252297

In [31]:
my_predict_df.show(10)

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|   540|   2366|   4.0| 3.3640974|
|  1824|   2122|   3.0| 2.6314788|
|  2038|   1088|   1.0| 2.7639434|
|  2564|   1591|   3.0| 2.9044042|
|  4259|   2366|   1.0|  4.305943|
|  5335|   1591|   2.5| 2.5263286|
|  5427|   4519|   4.0| 2.8550644|
|  5897|   8638|   4.5| 3.4569566|
|  6342|   1088|   3.5| 3.5085568|
|  6435|   2366|   2.5|  2.374332|
+------+-------+------+----------+
only showing top 10 rows

### (3e) Predict Your Ratings

So far, we have only computed the error of the model.  Next, let's predict what ratings you would give to the movies that you did not already provide ratings for.

The steps you should perform are:
* Filter out the movies you already rated manually. (Use the `my_rated_movie_ids` variable.) Put the results in a new `not_rated_df`.

   **Hint**: The [Column.isin()](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.isin)
   method, as well as the `~` ("not") DataFrame logical operator, may come in handy here. Here's an example of using `isin()`:

```
    > df1 = sqlContext.createDataFrame([("Jim", 10), ("Julie", 9), ("Abdul", 20), ("Mireille", 19)], ["name", "age"])
    > df1.show()
    +--------+---+
    |    name|age|
    +--------+---+
    |     Jim| 10|
    |   Julie|  9|
    |   Abdul| 20|
    |Mireille| 19|
    +--------+---+

    > names_to_delete = ["Julie", "Abdul"] # this is just a Python list
    > df2 = df1.filter(~ df1["name"].isin(names_to_delete)) # "NOT IN"
    > df2.show()
    +--------+---+
    |    name|age|
    +--------+---+
    |     Jim| 10|
    |Mireille| 19|
    +--------+---+
```

* Transform `not_rated_df` into `my_unrated_movies_df` by:
    - renaming the "ID" column to "movieId"
    - adding a "userId" column with the value contained in the `my_user_id` variable defined above.

* Create a `predicted_ratings_df` DataFrame by applying `my_ratings_model` to `my_unrated_movies_df`.

In [32]:
movies_df.take(2)

[Row(ID=1, title='Toy Story (1995)'), Row(ID=2, title='Jumanji (1995)')]

In [33]:
# to fix this issue 
'''Detected implicit cartesian product for LEFT OUTER join between logical plans'''
spark.conf.set("spark.sql.crossJoin.enabled", "true")

In [34]:
# TODO: Replace <FILL_IN> with the appropriate code

# Create a list of my rated movie IDs
my_rated_movie_ids = [x[1] for x in my_rated_movies]

# Filter out the movies I already rated.
not_rated_df = movies_df.filter(~ movies_df.ID.isin(my_rated_movie_ids))

# Rename the "ID" column to be "movieId", and add a column with my_user_id as "userId".
my_unrated_movies_df = not_rated_df.withColumn("userId",F.lit(my_user_id)).withColumnRenamed("ID", "movieId")


# Use my_rating_model to predict ratings for the movies that I did not manually rate.
raw_predicted_ratings_df = my_ratings_model.transform(my_unrated_movies_df)

predicted_ratings_df = raw_predicted_ratings_df.filter(raw_predicted_ratings_df['prediction'] != float('nan'))

In [35]:
raw_predicted_ratings_df.show()

+-------+--------------------+------+----------+
|movieId|               title|userId|prediction|
+-------+--------------------+------+----------+
|      1|    Toy Story (1995)|     0|  4.277744|
|      2|      Jumanji (1995)|     0| 3.2448394|
|      3|Grumpier Old Men ...|     0| 2.9605477|
|      4|Waiting to Exhale...|     0|  2.414985|
|      5|Father of the Bri...|     0| 2.7641041|
|      6|         Heat (1995)|     0| 4.1612363|
|      7|      Sabrina (1995)|     0| 3.2049425|
|      8| Tom and Huck (1995)|     0| 2.7173464|
|      9| Sudden Death (1995)|     0| 2.5871289|
|     10|    GoldenEye (1995)|     0| 3.5712993|
|     11|American Presiden...|     0| 3.6223898|
|     12|Dracula: Dead and...|     0|  2.494406|
|     13|        Balto (1995)|     0|  3.308155|
|     14|        Nixon (1995)|     0| 3.5381107|
|     15|Cutthroat Island ...|     0| 2.5112336|
|     16|       Casino (1995)|     0| 4.1299467|
|     17|Sense and Sensibi...|     0| 3.9675198|
|     18|   Four Rooms (1995)|     0|  3.486565|
|     19|Ace Ventura: When...|     0| 2.5089984|
|     20|  Money Train (1995)|     0| 2.6330144|
+-------+--------------------+------+----------+
only showing top 20 rows

### (3f) Predict Your Ratings

We have our predicted ratings. Now we can print out the 25 movies with the highest predicted ratings.

The steps you should perform are:
* Join your `predicted_ratings_df` DataFrame with the `movie_names_with_avg_ratings_df` DataFrame to obtain the ratings counts for each movie.
* Sort the resulting DataFrame (`predicted_with_counts_df`) by predicted rating (highest ratings first), and remove any ratings with a count of 75 or less.
* Print the top 25 movies that remain.

In [36]:
# TODO: Replace <FILL_IN> with the appropriate code

predicted_with_counts_df = (predicted_ratings_df
                                .join(movie_names_with_avg_ratings_df, predicted_ratings_df.movieId == movie_names_with_avg_ratings_df.movieId)
                                .select("average", movie_names_with_avg_ratings_df["title"], movie_names_with_avg_ratings_df["movieId"], "count"))

predicted_highest_rated_movies_df = predicted_with_counts_df.orderBy(predicted_with_counts_df['average'].desc()).cache()

print ('My 25 highest rated movies as predicted (for movies with more than 75 reviews):')
predicted_highest_rated_movies_df.filter("count >= 75").show(25, truncate = False)

My 25 highest rated movies as predicted (for movies with more than 75 reviews):
+------------------+---------------------------------------------------------------------------+-------+-----+
|average           |title                                                                      |movieId|count|
+------------------+---------------------------------------------------------------------------+-------+-----+
|4.4865181711606095|Planet Earth II (2016)                                                     |171011 |853  |
|4.458092485549133 |Planet Earth (2006)                                                        |159817 |1384 |
|4.399898373983739 |Band of Brothers (2001)                                                    |170705 |984  |
|4.350558659217877 |Black Mirror: White Christmas (2014)                                       |174053 |1074 |
|4.343949044585988 |Cosmos                                                                     |171495 |157  |
|4.339667458432304 |The Godfather Trilogy: 1972-1990 (1992)                                    |172591 |421  |
|4.332892749244713 |Godfather, The (1972)                                                      |858    |60904|
|4.291958829205532 |Usual Suspects, The (1995)                                                 |50     |62180|
|4.263888888888889 |Black Mirror                                                               |176601 |180  |
|4.2630353697749195|Godfather: Part II, The (1974)                                             |1221   |38875|
|4.261904761904762 |Last Year's Snow Was Falling (1983)                                        |172577 |126  |
|4.257501817775044 |Schindler's List (1993)                                                    |527    |71516|
|4.2541157909178215|Seven Samurai (Shichinin no samurai) (1954)                                |2019   |14578|
|4.244031830238727 |Over the Garden Wall (2013)                                                |163809 |377  |
|4.23943661971831  |Sherlock - A Study in Pink (2010)                                          |185135 |213  |
|4.237075455914338 |12 Angry Men (1957)                                                        |1203   |17931|
|4.236389684813753 |Blue Planet II (2017)                                                      |179135 |349  |
|4.230798598634567 |Rear Window (1954)                                                         |904    |22264|
|4.230663235786717 |Fight Club (1999)                                                          |2959   |65678|
|4.222920272160452 |One Flew Over the Cuckoo's Nest (1975)                                     |1193   |42181|
|4.2137767220902616|The Blue Planet (2001)                                                     |142115 |421  |
|4.210098086509085 |Casablanca (1942)                                                          |912    |31095|
|4.208876000542667 |Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)|750    |29484|
|4.2076678004047015|Spirited Away (Sen to Chihiro no kamikakushi) (2001)                       |5618   |23227|
|4.20375939849624  |Third Man, The (1949)                                                      |1212   |7980 |
+------------------+---------------------------------------------------------------------------+-------+-----+
only showing top 25 rows

In [37]:
predicted_with_counts_df.show()

+------------------+--------------------+-------+-----+
|           average|               title|movieId|count|
+------------------+--------------------+-------+-----+
|2.6466656422864165|        Spawn (1997)|   1591| 6508|
|3.2480141843971633|Dirty Dancing (1987)|   1088|14100|
|2.6475240715268225|Children of the C...|   2122| 2908|
| 2.978014656895403|Hellbound: Hellra...|   3918| 1501|
|3.3402777777777777|Land Before Time,...|   4519| 2664|
|3.9713673548889754|Before Sunset (2004)|   8638| 5134|
| 2.711587708066581|High School High ...|    833| 1562|
|2.9728327982217833|     Candyman (1992)|   1342| 4049|
| 2.907754010695187|Awfully Big Adven...|    148|  374|
| 3.473642753271934|    King Kong (1933)|   2366| 8252|
|3.1914893617021276|Dogs in Space (1987)|   4101|   47|
|3.6663385826771653| High Society (1956)|   6357|  508|
|              3.25|   Bad Ronald (1974)|  83250|   18|
| 3.295990566037736|What Happened Was...|    496|  424|
| 3.598360655737705|Welcome to Leith ...| 142084|   61|
|2.9696969696969697|  Moonwalkers (2015)| 150604|   66|
|3.3378378378378377|Friday Night (Ven...|   7880|   37|
|  3.77027027027027|When the Last Swo...|  27760|   37|
|2.7058823529411766|Love and the City...| 172523|   17|
|               2.5|   The Dancer (2000)| 173691|    3|
+------------------+--------------------+-------+-----+
only showing top 20 rows